# MongoDB Ulanish Satri (MongoDB Atlas yoki local MongoDB)
# Masalan: mongodb+srv://username:password@cluster0.abcde.mongodb.net/mars_laptop_db?retryWrites=true&w=majority
MONGODB_URI=

# Admin sessiyasi uchun maxfiy kalit
JWT_SECRET=mars_super_secret_key_2026

# Node muhiti
NODE_ENV=production
